<!DOCTYPE html>
<html lang="pt-br">
  {include 'Layouts/head.html'}
  <body>
    {include 'Layouts/header.html'}
    <div>
      <table class="products-table">
        <thead>
          <tr>
            <td>Nome</td>
            <td>Preço</td>
            <td>Imagem</td>
          </tr>
        </thead>
        {foreach $data as $key => $item}
        <tbody>
          <tr>
            <td>{$item.nome}</td>
            <td>{$item.preco}</td>
            <td>{$item.imagem}</td>
          </tr>
        </tbody>
        {/foreach}
      </table>
      {include 'Layouts/footer.html'}
    </div>
  </body>
</html>
